// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.col-2 {
    width: 250px;
    white-space: nowrap;
}

.col-xs-9 {
    padding-top: 40px;
    padding-left: 40px;
}

.recommended-items{
    padding-top: 40px;
}