.list-head{
    padding-top: 40px;
}

h3{
    padding-top: 40px; 
}

.info{
    padding-top: 20px;
}

.message{
    padding-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-xs-8{
    padding-top: 40px;
}

.col-xs-3 {
    padding-top: 40px;
}

.col-xs-7 {
    padding-top: 40px;
}