<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <%= render 'list' %>
        </header>
        <main>
            <table border="0">
             <th>ジャンル検索</th>
               <td>ケーキ</td>
               <td>焼き菓子</td>
               <td>プリン</td>
               <td>キャンディ</td>
            </table>
            <p>ようこそ、ながのCAKEへ！このサイトは、ケーキのECサイトになります。会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
            <div>
                <h3>新着商品</h3>
                
            </div>
        </main>
    </body>
</html>