<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
              <div class="row">
                  <%= render "layouts/header" %>
              </div>
        </header>
        <main>
            <div class="row admin-homes-top-message">
                <span class="col-xs-3">注文件数</span>
                <span class="col-xs-9">
                    <%= link_to @orders.count, admin_orders_path %>件
                </span>
            </div>
        </main>
    </body>
</html>