<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
      <body>
        <div class="thankspage">
            <p class="message">ご注文ありがとうございました！</p>
        </div>
      </body>
    </main>
</html>