<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
      <body>
        <div>
            <p>ご注文ありがとうございました！</p>
        </div>
      </body>
    </main>
</html>