<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <main>
      <body>
          <div>
            <h1>商品一覧</h1><p>(全X件)</p>
              <p>いちごのショートケーキ</p>
              <p>750円</p>
              <%= image_tag 'イチゴショート.jpg', size: "100x200" %>
          </div>
      </body>
  </main>
  <footer><%= paginate items %></footer>
